span{
	font-family:"iconfont";
}
a{
	text-decoration:none;
}
ul li{
	list-style-type:none;
}
@media screen and (max-width:1190px){
	.nav{
		display:none;
	}
}
@media screen and (max-width:590px){
	.inp{
		display:none;
	}
	.bar{
		display:none;
	}
}

#top{
	height:50px;
	width:100%;
	.Img{
		float:left;
		height:30px;
		width:50px;
		margin-left:20px;
		margin-top:10px;
	}
	.hr{
		height:4px;
		width:50px;
		background:#3b6caa;
		margin-left:20px;
		position:absolute;
		top:46px;
		display:none;
	}
	.tu:hover .hr{
		display:block;
	}
	.nav{	
		float:left;
		margin-left:15px;
		height:50px;
		width:50%;
		font-size:10px;
	}
	.tit1{
		float:left;
		height:50px;
		margin-left:20px;
		line-height:50px;
		text-align:center;
		font-size:15px;
		.hx{
			height:4px;
			width:62px;
			background:#3b6caa;
			position:absolute;
			top:46px;
			display:none;
		}
		.hx2{
			height:4px;
			width:62px;
			background:#3b6caa;
			position:absolute;
			top:46px;
			display:none;
		}
		.hx3{
			height:4px;
			width:100px;
			background:#3b6caa;
			position:absolute;
			top:46px;
			display:none;
		}
		.tit2{
			height:572px;
			width:431px;
			border:1px solid #e5e5e5;
			border-right:none;
			background:#f4f4f4;
			display:none;
			position:absolute;
			top:50px;
			left:0;
			.cler{
				float:left;
				clear:both;
				font-size:15px;
				font-weight:bold;
				margin-top:15px;
				margin-left:30px;
				color:#323232;
			}
			.final{
				float:left;
				margin-left:15px;
				height:50px;
				width:370px;
				.life{
					float:left;
					font-size:15px;
					margin-left:30px;
					color:#919191;
				}
				span{
					float:right;
					margin-right:10px;
					font-size:20px;
					display:none;
				}
				.tit3{
					display:inline;
					height:572px;
					width:831px;	
					background:#fff;
					position:absolute;
					left:431px;
					top:0;
					.pox{
						float:left;
						height:100%;
						width:337px;
						.terribly{
							height:50px;
							width:194px;
							margin-top:38px;
							margin-left:20px;
							.terr{
								color:#3c6daa;
								font-size:40px;
							}
							.yp{
								margin-left:12px;
								margin-top:10px;
								height:4px;
								width:168px;
								background:#3c6daa;
								display:none;
							}
						}
						.terribly:hover .yp{
							display:block;
						}
						.meet{
							height:20px;
							width:100px;
							margin-left:20px;
							.true{
								color:#919191;
								font-size:15px;
							}
						}
						.despair{
							height:20px;
							width:300px;
							margin-top:40px;
							.desp{
								color:#5c85b8;
								font-size:20px;
							}
							.air{
								height:1px;
								width:250px;
								margin-top:-10px;
								margin-left:25px;
								background:#3b6caa;
								display:none;
							}
						}
						.despair:hover .air{
							display:block;
						}	
					}
					.por{
						float:right;
						height:100%;
						width:455px;
						.porst{
							margin-right:30px;
							font-size:12px;
							font-weight:bold;
							margin-left:30px;
							margin-top:110px;
						}
						.touy{
							.tou{
								font-size:12px;
								color:#5c85b8;
							}
							.tuy{
								height:1px;
								width:300px;
								margin-top:-12px;
								margin-left:80px;
								background:#3b6caa;
								display:none;
							}
						}
						
					}
				}
			}
			.fin{
				float:left;
				margin-left:15px;
				height:40px;
				width:370px;
				
				.lif{
					float:left;
					font-size:15px;
					margin-left:30px;
					color:#919191;
				}
				span{
						float:right;
						margin-right:10px;
						font-size:20px;
						display:none;
				}
				.tit4{
					display:none;
					height:572px;
					width:831px;	
					background:#fff;
					position:absolute;
					left:431px;
					top:0;
					.pox{
						float:left;
						height:100%;
						width:337px;
						.terribly{
							height:50px;
							width:194px;
							margin-top:38px;
							margin-left:20px;
							.terr{
								color:#3c6daa;
								font-size:40px;
							}
							.yp{
								margin-left:12px;
								margin-top:10px;
								height:4px;
								width:168px;
								background:#3c6daa;
								display:none;
							}
						}
						.terribly:hover .yp{
							display:block;
						}
						.meet{
							height:20px;
							width:100px;
							margin-left:20px;
							.true{
								color:#919191;
								font-size:15px;
							}
						}
						.despair{
							height:20px;
							width:300px;
							margin-top:40px;
							.desp{
								color:#5c85b8;
								font-size:20px;
							}
							.air{
								height:1px;
								width:250px;
								margin-top:-10px;
								margin-left:25px;
								background:#3b6caa;
								display:none;
							}
						}
						.despair:hover .air{
							display:block;
						}	
					}
					.por{
						
						float:right;
						height:100%;
						width:455px;
						.porst{
							margin-right:30px;
							font-size:12px;
							font-weight:bold;
							margin-left:30px;
							margin-top:110px;
						}
						.touy{
							.tou{
								font-size:12px;
								color:#5c85b8;
							}
							.tuy{
								height:1px;
								width:300px;
								margin-top:-12px;
								margin-left:80px;
								background:#3b6caa;
								display:none;
							}
						}
					}
				}
			}
			.final:hover{
				background:#3b6caa;
				color:#fff;
			}
			.final:hover span{
				display:block;
				color:#fff;
			}
			.final:hover .tit3{
				display:block;
			}
			.fin:hover{
				background:#3b6caa;
				color:#fff;
			}
			.fin:hover span{
				display:block;
				color:#fff;
			}
			.fin:hover .tit4{
				display:block;
			}
		}
	}
	.touy:hover .tuy{
		display:block;
	}
	.tit1:hover .hx{
		display:block;
	}
	.tit1:hover .hx2{
		display:block;
	}
	.tit1:hover .hx3{
		display:block;
	}
	.tit1:hover .tit2{
		display:block;
	}
	.tit1:hover .tit3{
		display:block;
	}
	.stry{
		float:left;
		margin-left:20px;
		margin-right:10px;
		height:50px;
		width:10%;
		line-height:50px;
		text-align:center;
		font-size:15px;
	}
	.heng{
		height:4px;
		width:70px;
		background:#3b6caa;
		margin-left:220px;
		position:absolute;
		top:46px;
		display:none;
	}
	.sky:hover .heng{
	display:block;
	}
	.support{
		float:left;
		margin-left:20px;
		height:50px;
		width:10%;
		line-height:50px;
		text-align:center;
		font-size:15px;
	}
	.xian{
		height:4px;
		width:55px;
		background:#3b6caa;
		margin-left:440px;
		position:absolute;
		top:46px;
		display:none;
	}
	.supt:hover .xian{
		display:block;
	}
	.recruit{
		float:left;
		margin-left:20px;
		height:50px;
		width:10%;
		line-height:50px;
		text-align:center;
		font-size:15px;
	}
	.line{
		height:4px;
		width:60px;
		background:#3b6caa;
		margin-left:520px;
		position:absolute;
		top:46px;
		display:none;
	}
	.rec:hover .line{
		display:block;
	}
	.topr{
		height:50px;
		float:right;
		margin-right:20px;
		.bar{
			float:right;
			height:25px;
			width:92px;
			line-height:25px;
			margin-right:80px;
			text-align:center;
			font-size:12px;
			color:#4c7fc1;
			border:1px solid #4c7fc1;
			margin-top:12px;
		}
		.bar:hover{
				background:#4c7fc1;
				color:#fff;
		}
		.inprt{
			float:right;
			line-height:49px;
			text-align:center;
			height:49px;
			width:160px;
			.inp{
				float:right;
				height:49px;
				width:200px;
				border:1px solid #e0e0e0;
				border-top:none;
				margin-right:20px;
				input{
					text-align:left;
					line-height:49px;
					float:left;
					width:40%;
					border:none;
					outline:none;
				}
				.sea{
					float:right;
					height:49px;
					width:15%;
					font-size:20px;
					font-weight:bold;
				}
			}
		}
		.inp:hover{
			border:2px solid #4c7fc1;
			border-top:none;
		}
		.inp:hover span{
			color:#4c7fc1;
		}
		.sea:hover{
			border-left:2px solid #4c7fc1;
		}
		.mine{
			float:right;
			height:50px;
			width:3%;
			line-height:50px;
			text-align:center;
			margin-right:20px;
			span{
				font-size:20px;
			}
			.tier{
				height:2885px;
				width:100%;
				background:black;
				opacity:0.5;
				filter:alpha(opacity=50);
				position:absolute;
				right:360px;
				top:0;
				display:none;
			}
			.item{
				height:2885px;
				width:360px;
				background:#fff;
				position:absolute;
				right:0;
				top:0;
				display:none;
				.frame{
					height:100%;
					width:360px;
					outline:none;
					border:none;
				}

			}
		}
		.mine:hover .item{
			display:block;
		}
		.mine:hover .tier{
			display:block;
		}
		.menu{
			float:right;
			height:50px;
			width:2%;
			line-height:50px;
			text-align:center;
			font-size:20px;
			margin-right:30px;
			.nus{
				height:121px;
				width:205px;
				background:#fff;
				border:1px solid balck;
				position:absolute;
				right:70px;
				display:none;
				.short{
					height:40px;
					font-size:15px;
					color:#3a3a3a;
					line-height:40px;
					text-align:center;
				}
				.short2{
					height:40px;
					font-size:15px;
					color:#3a3a3a;
					line-height:40px;
					text-align:center;
				}
				.short3{
					height:40px;
					font-size:15px;
					color:#3a3a3a;
					line-height:40px;
					text-align:center;
				}
			}
		}
		.nus .short:hover{
			color:#fff;
			background:#4c7fc1;
		}
		.nus .short2:hover{
			background:#4c7fc1;
			color:#fff;
		}
		.nus .short3:hover{
			background:#4c7fc1;
			color:#fff;
		}
		.menu:hover .nus{
			display:block;
		}
	}
	
}
// @media screen and(max-width:580px){
	
// }
#figure{
	height:362px;
	.crept{
		height:362px;
		background-image:url(../img/top/1.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		.box{
			float:left;
			height:200px;
			width:100%;
			color:#fff;
			margin-top:90px;
			
			p{
				margin-left:15px;
				font-size:40px;
				font-weight:bold;
			}
			.character{
				margin-left:15px;
				font-size:12px;
				margin-top:30px;
				margin-bottom:20px;
			}
			.cter{
				margin-left:15px;
				font-size:12px;
			}
			.center{
				margin-left:15px;
				margin-top:10px;
				font-size:12px;
			}
		}
	}
}
#type{
	.chunk{
		float:left;
		height:372px;
		width:317.5px;
		background:#fff;
		font-size:20px;
		p{
		 	margin-left:15px;
			margin-top:20px;
			color:#323232;
		}
	}
	.chu{
		float:left;
		height:372px;
		width:316px;
		background:#ecf2f2;
		.map{
			height:175px;
			width:316px;
		}
		.drawing{
			font-size:15px;
			margin-top:25px;
			margin-left:15px;
			margin-right:50px;
		}
		.chart{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}
		.picture{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}

	}
	.most{
		float:left;
		height:372px;
		width:315px;
		.with{
			height:175px;
			width:315px;
		}
		.always{
			font-size:15px;
			margin-top:25px;
			margin-left:15px;
			margin-right:50px;
		}
		.deepest{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}
		.despair{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}

	}
	.most2{
		float:left;
		height:372px;
		width:314px;
		background:#ecf2f2;
		.with2{
			height:175px;
			width:314px;
		}
		.always2{
			font-size:15px;
			margin-top:25px;
			margin-left:15px;
			margin-right:50px;
		}
		.deepest2{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}
		.despair2{
			font-size:12px;
			margin-top:20px;
			margin-left:15px;
			margin-right:50px;
		}
	}
}
#stye{
	float:left;
	.print{
		float:left;
		height:360px;
		width:317.5px;
		background:#264a60;
		.rabbit{
			float:left;
			margin-top:20px;
			margin-left:15px;
			color:#fff;
			font-size:25px;
		}
		.boy{
			float:left;
			clear:both;
			color:#fff;
			margin-top:25px;
			margin-left:15px;
			height:36px;
			width:124px;
			font-size:10px;
			border:2px solid #fff;
			line-height:36px;
			text-align:center;
		}
	}
	.shape:hover .boy{
		color:black;
		background:#fff;
	}
	.monkey{
		float:left;
		height:360px;
		width:316px;
		color:#fff;
		background:#1d3649;
		.cock{
			width:316px;
			height:175px;
		}
		.cat{
			margin-top:23px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dog{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teacher{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charge{
					float:left;
					margin-left:15px;
					font-size:10px;
			}
		}
	}
	.monkey2{
		float:left;
		height:360px;
		width:315px;
		color:#fff;
		background:#264a60;
		.cock2{
			width:315px;
			height:175px;
		}
		.cat2{
			margin-top:23px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dog2{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teacher2{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charge2{
					float:left;
					margin-left:15px;
					font-size:10px;
			}
		}
	}
	.monkey3{
		float:left;
		height:360px;
		width:314px;
		color:#fff;
		background:#1d3649;
		.cock3{
			width:314px;
			height:175px;
		}
		.cat3{
			margin-top:23px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dog3{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teacher3{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charge3{
					float:left;
					margin-left:15px;
					font-size:10px;
			}
		}
	}
	.collapse{
		float:left;
		height:417px;
		width:317.5px;
		background:#fff;
		.rab{
			float:left;
			margin-top:20px;
			margin-left:15px;
			margin-right:120px;
			color:#008571;
			font-size:25px;
		}
		.boys{
			float:left;
			clear:both;
			color:#fff;
			background:#008571;
			margin-top:25px;
			margin-left:15px;
			height:36px;
			width:124px;
			font-size:10px;
			line-height:36px;
			text-align:center;
		}
		.boyes{
			float:left;
			clear:both;
			color:#008571;
			background:#fff;
			border:2px solid #008571;
			margin-top:25px;
			margin-left:15px;
			height:36px;
			width:140px;
			font-size:10px;
			line-height:36px;
			text-align:center;
		}
		.boyes:hover{
			background:#008571;
			color:#fff;
		}
	}
	.monkeys{
		float:left;
		height:417px;
		width:316px;
		background:#ecf2f2;
		.cocks{
			width:316px;
			height:223px;
			margin-top:20px;
		}
		.cats{
			margin-top:35px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dogs{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teachers{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charges{
					float:left;
					margin-left:10px;
					font-size:10px;
					color:#3b6caa;
			}
		}
	}
	.monkey4{
		float:left;
		height:417px;
		width:315px;
		background:#fff;
		.cocks2{
			width:315px;
			height:223px;
			margin-top:20px;
		}
		.cats2{
			margin-top:35px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dogs2{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teachers2{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charges2{
					float:left;
					margin-left:15px;
					font-size:10px;
					color:#3b6caa;
			}
		}
	}
	.monkeys5{
		float:left;
		height:417px;
		width:314px;
		background:#ecf2f2;
		.cocks3{
			width:314px;
			height:223px;
			margin-top:20px;
		}
		.cats3{
			margin-top:35px;
			margin-left:15px;
			font-size:15px;
			margin-right:30px;
		}
		.dogs3{
			margin-top:20px;
			margin-left:15px;
			font-size:10px;
			margin-right:30px;
		}
		.teachers3{
			margin-top:20px;
				span{
				float:left;
				margin-left:15px;
				font-size:20px;
			}
			.charges3{
					float:left;
					margin-left:15px;
					font-size:10px;
					color:#3b6caa;
			}
		}
		
	}
	.world{
			float:left;
			height:335px;
			width:317.5px;
			color:#fff;
			font-size:20px;
			background:#4178be;
			.could{
				margin-top:70px;
				margin-left:20px;
			}
			.would{
				margin-top:15px;
				margin-left:20px;
			}
	}
	.girls{
		float:left;
		height:335px;
		width:316px;
		color:#fff;
		background:#4178be;
		.hell{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yall{
				height:12px;
				margin-top:5px;
				.baby{
					font-size:15px;
				}
				.h2{
					height:1px;
					width:65px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yall:hover .h2{
				display:block;
		}
	
		.hell2{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yell{
				height:12px;
				margin-top:5px;
				.baby2{
					font-size:15px;
				}
				.h3{
					height:1px;
					width:120px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yell:hover .h3{
				display:block;
		}
		.hell3{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.won{
				height:12px;
				margin-top:5px;
				.baby3{
					font-size:15px;
				}
				.h4{
					height:1px;
					width:50px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done3{
					margin-top:10px;
					font-size:10px;
				}
		}
		.won:hover .h4{
				display:block;
		}
	}
	.girls2{
		float:left;
		height:335px;
		width:315px;
		color:#fff;
		background:#4178be;
		.hell4{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yall2{
				height:12px;
				margin-top:5px;
				.baby2{
					font-size:15px;
				}
				.h5{
					height:1px;
					width:42px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yall2:hover .h5{
				display:block;
		}
	
		.hell5{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yell2{
				height:12px;
				margin-top:5px;
				.baby3{
					font-size:15px;
				}
				.h6{
					height:1px;
					width:75px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done3{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yell2:hover .h6{
				display:block;
		}
		.hell6{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.won2{
				height:12px;
				margin-top:5px;
				.baby4{
					font-size:15px;
				}
				.h7{
					height:1px;
					width:60px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done4{
					margin-top:10px;
					font-size:10px;
				}
		}
		.won2:hover .h7{
				display:block;
		}
	}
	.girls3{
		float:left;
		height:335px;
		width:314px;
		color:#fff;
		background:#4178be;
		.he{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.ya{
				height:12px;
				margin-top:5px;
				.ba{
					font-size:15px;
				}
				.f1{
					height:1px;
					width:170px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.do{
				margin-top:10px;
				font-size:10px;
			}
		}
		.ya:hover .f1{
				display:block;
		}
	
		.he2{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.ye{
				height:12px;
				margin-top:5px;
				.ba2{
					font-size:15px;
				}
				.f2{
					height:1px;
					width:70px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.do2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.ye:hover .f2{
				display:block;
		}
		.he3{
			margin-top:20px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.wo{
				height:12px;
				margin-top:5px;
				.ba3{
					font-size:15px;
				}
				.f3{
					height:1px;
					width:55px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.do3{
					margin-top:10px;
					font-size:10px;
				}
		}
		.wo:hover .f3{
				display:block;
		}
	}
}
#trabecula{
	float:left;
	height:342px;
	width:100%;
	.barre{
		float:left;
		height:342px;
		width:100%;
		background-image:url(../img/top/top8.jpg);
		background-size:cover;

		.stripe{
			margin-top:85px;
			margin-left:15px;
			font-size:10px;
			color:#fff;
		}
		.rahu{
			margin-top:20px;
			font-size:20px;
			color:#fff;
		}
		.such{
			font-size:10px;
			margin-left:15px;
			margin-top:20px;
			color:#fff;
		}
		.him{
			height:38px;
			width:253px;
			color:#fff;
			margin-top:20px;
			margin-left:15px;
			line-height:38px;
			text-align:center;
			font-size:15px;
			background:#323232;
		}
		
	}.hie:hover .him{
			background:black;
		}
}
#copy{
	height:261px;
	.world{
		float:left;
		height:261px;
		width:317.5px;
		color:#fff;
		font-size:20px;
		background:#777677;
		.could{
			margin-top:70px;
			margin-left:25px;
		}
	}
	.girls{
		float:left;
		height:261px;
		width:316px;
		color:#fff;
		background:#777677;
		.hell{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yall{
				height:12px;
				margin-top:5px;
				.baby{
					font-size:15px;
				}
				.h2{
					height:1px;
					width:65px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yall:hover .h2{
				display:block;
		}
		.hell2{
			margin-top:25px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yell{
				height:12px;
				margin-top:5px;
				.baby2{
					font-size:15px;
				}
				.h3{
					height:1px;
					width:120px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yell:hover .h3{
				display:block;
		}
	}
	.girls2{
		float:left;
		height:261px;
		width:315px;
		color:#fff;
		background:#777677;
		.hell4{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yall2{
				height:12px;
				margin-top:5px;
				.baby2{
					font-size:15px;
				}
				.h5{
					height:1px;
					width:42px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yall2:hover .h5{
				display:block;
		}
	
		.hell5{
			margin-top:25px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.yell2{
				height:12px;
				margin-top:5px;
				.baby3{
					font-size:15px;
				}
				.h6{
					height:1px;
					width:75px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.done3{
				margin-top:10px;
				font-size:10px;
			}
		}
		.yell2:hover .h6{
				display:block;
		}
	}
	.girls3{
		float:left;
		height:261px;
		width:314px;
		color:#fff;
		background:#777677;
		.he{
			margin-top:35px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.ya{
				height:12px;
				margin-top:5px;
				.ba{
					font-size:15px;
				}
				.f1{
					height:1px;
					width:170px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.do{
				margin-top:10px;
				font-size:10px;
			}
		}
		.ya:hover .f1{
				display:block;
		}
	
		.he2{
			margin-top:25px;
			margin-left:15px;
			span{
				font-size:30px;
			}
			.ye{
				height:12px;
				margin-top:5px;
				.ba2{
					font-size:15px;
				}
				.f2{
					height:1px;
					width:70px;
					background:#fff;
					margin-top:2px;
					display:none;
				}
			}
			.do2{
				margin-top:10px;
				font-size:10px;
			}
		}
		.ye:hover .f2{
				display:block;
		}
	}	
}
#floor{
	height:395px;
	.foot{
		float:left;
		background:#f4f4f4;
		height:344px;
		width:315.7px;
		.marine{
			font-size:10px;
			font-weight:bold;
			margin-top:35px;
			margin-left:15px;
		}
		.mar{
			height:12px;
			margin-top:20px;
			margin-left:15px;
			.das{
				font-size:10px;
				.she{
					height:1px;
					width:70px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar:hover .she{
			display:block;
		}
		.mar1{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das1{
				font-size:10px;
				.she1{
					height:1px;
					width:50px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar1:hover .she1{
			display:block;
		}
		.mar2{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das2{
				font-size:10px;
				.she2{
					height:1px;
					width:46px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar2:hover .she2{
			display:block;
		}
		.mar3{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das3{
				font-size:10px;
				.she3{
					height:1px;
					width:55px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar3:hover .she3{
			display:block;
		}
		.mar4{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das4{
				font-size:10px;
				.she4{
					height:1px;
					width:78px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar4:hover .she4{
			display:block;
		}
		.mar5{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das5{
				font-size:10px;
				.she5{
					height:1px;
					width:70px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar5:hover .she5{
			display:block;
		}
		.mar6{
			height:12px;
			margin-top:15px;
			margin-left:15px;
			.das6{
				font-size:10px;
				.she6{
					height:1px;
					width:60px;
					background:blue;
					display:none;
				}
			}
			
		}
		.mar6:hover .she6{
			display:block;
		}
		.knocked{
			margin-top:30px;
			margin-left:15px;
			font-size:12px;
		}
		.tip{
			height:30px;
			width:90%;
			border:1px solid black;
			margin-left:15px;
			margin-top:20px;
			background:#fff;
			color:#333;
			.inp{
				outline:none;
				border:none;
			}
			#but{
				float:right;
				margin:5px;
				background:#fff;
				border:none;
				outline:none;
			}
		}

	}
	.pir{
		float:left;
		height:1px;
		width:100%;
		background:#f4f4f4;
		.pipe{
			float:left;
			height:1px;
			width:96%;
			margin-left:10px;
			margin-right:15px;
			background:#aeaeae;
		}
	}
	.bottom{
		width:100%;
		float:left;
		height:50px;
		background:#f4f4f4;
		.plant{
			float:left;
			margin-left:15px;
			margin-top:20px;
			.plan{
				font-size:12px;
			}
			.wall{
				height:1px;
				width:42px;
				background:#4178be;
				display:none;
			}
		}
		.plant:hover .wall{
			display:block;
		}
		.plant2{
			float:left;
			margin-left:20px;
			margin-top:20px;
			.plan2{
				font-size:12px;
			}
			.wall2{
				height:1px;
				width:40px;
				background:#4178be;
				display:none;
			}
		}
		.plant2:hover .wall2{
			display:block;
		}
		.plant3{
			float:left;
			margin-left:15px;
			margin-top:20px;
			.plan3{
				font-size:12px;
			}
			.wall3{
				height:1px;
				width:72px;
				background:#4178be;
				display:none;
			}
		}
		.plant3:hover .wall3{
			display:block;
		}
		.plant4{
			float:left;
			margin-left:20px;
			margin-top:20px;
			.plan4{
				font-size:12px;
			}
			.wall4{
				height:1px;
				width:70px;
				background:#4178be;
				display:none;
			}
		}
		.plant4:hover .wall4{
			display:block;
		}
		.plant5{
			float:left;
			margin-left:25px;
			margin-top:20px;
			.plan5{
				font-size:12px;
			}
			.wall5{
				height:1px;
				width:55px;
				background:#4178be;
				display:none;
			}
		}
		.plant5:hover .wall5{
			display:block;
		}
		.point{
			float:right;
			height:50px;
			width:190px;
			line-height:50px;
			text-align:left;
			font-size:10px;
			.paret{
				float:left;
			}
			span{
				font-size:20px;
				margin-left:10px;
				float:left;
			}
		}
	}
}
#maod{
	height:40px;
	width:40px;
	line-height:40px;
	text-align:center;
	background:#ececec;
	border-radius:50%;
	position:fixed;
	right:30px;
	bottom:50px;
	a{
		color:#333;
		text-decoration:none;
			span{
			font-size:40px;
		}
	}
}